body {
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
}

h1 {
  background-color: #960000;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;
}

.conteudo {
  margin: 0 auto;
  padding: 30px;
  max-width: 500px;

  background-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 10px gray;
}

.conteudo ul {
  padding-left: 20px;
}

.conteudo li {
  margin: 6px 0;
}

.conteudo a {
  color: #960000;
  text-decoration: none;
  font-weight: 500;
}

.conteudo a:hover {
  text-decoration: underline;
}

.conteudo img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}